.footer{
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    &__left{
        width: 50%;
        .footer__logo{
            width: 80%;
            margin-bottom: 1rem;
            h2{
                font-size: 50px;
                margin-bottom: 2rem;
            }
            p{
                line-height:28px;
                font-size: 1.2rem;
            }
        }
        .footer__form{
            width: 70%;
            display: flex;
            justify-content: space-between;
            input{
                height: 50px;
                width: 70%;
                outline: none;
                border-radius: 30px;
                font-size: 18px;
                padding-left: 15px;
                border: 1px solid black;
            }
            button{
                height: 50px;
                width: 25%;
                border: 1px solid black;
                border-radius: 30px;
                font-size:18px;
            }
        }
       
    }
    &__right{
        width: 50%;
        display: flex;
        .footer__contactUs{
            margin: 30px auto 0;
            .footer__contact{
                h4{
                    color: gray;
                }
                margin-bottom: 20px;
            }
        }
    }
}